*.py[cod]
__pycache__/
*.iml
.gitattributes
/.vscode/
.mypy_cache/
/.idea/
.env
.pytest_cache
server/server.iml
/design/
*/__pycache__
*.local
logs
*.log
staticfiles
media
.data
.tox
django_config.md
postgres
celerybeat-schedule
.ruff_cache
kafka_listener_pid.txt
.coverage
venv/*